@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f5f7fb;
  color: #0f172a;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 98%;
  max-width: 1700px;
  margin: 20px 19px;
}

.main-grid {
  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1.08fr;
  gap: 20px;

  align-items: start;
}

.glass-card {
  background: rgba(255, 255, 255, 0.55);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.08),
    inset 0 1px 1px rgba(255,255,255,0.5);
}

@media (max-width: 1200px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}